/* Stolen directly from nullman.net */

/*==============================================================================
 * default.css
 *
 * Default CSS
 *
 * Author: Kyle W T Sherman
 *============================================================================*/

/*------------------------------------------------------------------------------
 * Color Constants
 *----------------------------------------------------------------------------*/

:root {
    --background: #FFF4E4; /* Light cream color */
    --background-accent: #F7E8A4; /* Soft yellow color */
    --primary: #0091AD; /* Teal color */
    --secondary: #6EFAFB; /* Light blue color */
    --accent: #FF57BB; /* Bright pink color */
    --link: #0091AD; /* Teal color */
    --link-hover: #6EFAFB; /* Light blue color */
    --header: #0091AD; /* Teal color */
    --header-hover: #6EFAFB; /* Light blue color */
    --header-accent: #FF57BB; /* Bright pink color */
    --header-link: #0091AD; /* Teal color */
    --header-link-hover: #6EFAFB; /* Light blue color */
    --menu-item-highlight: #F7E8A4; /* Soft yellow color */
    --border: #FF57BB; /* Bright pink color */

	/* Flatland Theme */
    --htmlize-comment-face: #798188;
    --htmlize-string-face: #CFE2F2;
    --htmlize-keyword-face: #FA9A4B;
    --htmlize-builtin-face: #FA9A4B;
    --htmlize-function-name-face: #72AACA;
    --htmlize-variable-name-face: #F6F080;
    --htmlize-type-face: #72AACA;
    --htmlize-constant-face: #B9D977;
    --htmlize-warning-face: #F1E94B;
    /* Solarized Dark Theme */
    /* --htmlize-comment-face: #586E75; */
    /* --htmlize-string-face: cyan; */
    /* --htmlize-keyword-face: green; */
    /* --htmlize-builtin-face: #839496; */
    /* --htmlize-function-name-face: blue; */
    /* --htmlize-variable-name-face: blue; */
    /* --htmlize-type-face: yellow; */
    /* --htmlize-constant-face: blue; */
    /* --htmlize-warning-face: orange; */
}

/*------------------------------------------------------------------------------
 * Main Customizations
 *----------------------------------------------------------------------------*/

html {
    font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", DroidSansMono, Monaco, "Lucida Console", Terminal, Consolas, "Liberation Mono", "Courier New", monospace;
    /* font-family: Helvetica, Arial, sans-serif; */
    /* font-size: 12pt; */
    /* font-size: .9em; */
    margin: 0;
    padding: 0;
	height: 100%;
}

body {
    background-color: var(--background);
    color: var(--primary);
    min-height: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
    padding: 0;
}

a:link, a:visited {
    color: var(--link);
    /* font-weight: bold; */
    text-decoration: none;
}
a:hover, a:active {
    color: var(--link-hover);
    /* font-weight: bold; */
    text-decoration: underline;
}

/* hide mouseover links */
div#hover a img {
    height: 0;
    width: 0;
    border-width: 0;
}

/* show links on mouseover */
div#hover a:hover img {
    left: 100px;
    height: 310px;
    position: relative;
    top: 20px;
    width: 223px;
}

img {
    border: 0;
    height: auto;
    max-width: 97%; /* probably should be 100%, but that does not line up right */
    padding: 1em;
    width: auto;
}

.image { }

.right-img {
    clear: right;
}

.right-img img {
    border: 0;
    float: right;
    padding: 1em 0em 1em 1em;
    max-width: 40%;
}

#popup {
    background-color: white;
    display: none;
    font-size: xx-small;
    position: absolute;
    /* width: 310px; */
    z-index: 10;
}
#popup img {
    padding: .5em;
}

hr {
    border: 1px dashed;
    color: var(--border);
    margin: 2em 0;
    padding: 0;
}

blockquote {
    font-style: italic;
    margin: 1em 2em;
}

p {
    margin: 1em;
    text-align: justify;
    /* white-space: pre; */
}
p.code {
    font-family: monospace;
    margin-left: 3em;
    /* white-space: pre; */
}
p.verse {
    font-style: italic;
    margin: 1em 3em;
    /* white-space: pre; */
}
p.quote {
    font-style: italic;
}
p.quoted {
    font-style: italic;
}

h1 {
    color: var(--header);
    /* display: inline-block; */
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: .1em;
    margin: 1em 0 1em 0;
    /* text-transform: uppercase; */
}
h1 a:link, h1 a:visited {
    color: var(--header);
}
h1 a:hover, h1 a:active {
    color: var(--header-hover);
}

h2 {
    color: var(--header);
    /* display: inline-block; */
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: .05em;
    margin: 1em 0 1em .5em;
    /* text-transform: uppercase; */
}
h2 a:link, h2 a:visited {
    color: var(--header);
}
h2 a:hover, h2 a:active {
    color: var(--header-hover);
}

h3 {
    color: var(--header);
    /* display: inline-block; */
    font-size: 1em;
    font-style: italic;
    letter-spacing: 0;
    /* text-transform: uppercase; */
}
h3 a:link, h3 a:visited {
    color: var(--header);
}
h3 a:hover, h3 a:active {
    color: var(--header-hover);
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

code {
    background-color: var(--background-accent);
    color: var(--accent);
    font-family: monospace;
    /* font-size: 1.2em; */
    font-size: 12pt;
    /* margin: 0 1em; */
    /* overflow: auto; */
    white-space: pre;
}

.src, .example {
    background-color: var(--background-accent);
    /* border: 1px solid var(--border); */
    color: var(--accent);
    font-family: monospace;
    /* font-size: 1.1em; */
    font-size: 12pt;
    margin: 0 2em;
    overflow: auto;
    padding: .2em;
    white-space: pre;
}

.pre {
    white-space: pre;
}

.xsmall {
    font-size: x-small;
}

.small {
    font-size: small;
}

.large {
    font-size: large;
}

.xlarge {
    font-size: x-large;
}

textarea {
    background-color: var(--background-accent);
    border: 1px solid var(--border);
    color: var(--accent);
    font-family: monospace;
    font-size: 1.1em;
    margin: 0 1em;
    overflow: auto;
    padding: .2em;
    /* white-space: pre; */
    width: 97%;
}

ul {
    /* list-style-type: none; */
    /* list-style-type: disc; */
    list-style-type: square;
    margin: .5em 0 .5em .5em;
}

ol {
    margin: .5em 0 .5em 0;
}

li {
    margin: .5em 0 .5em 0;
}

dl {
    /* margin: .5em 0 .5em 1em; */
    text-align: justify;
    /* white-space: pre; */
}

dt {
    font-weight: bold;
    margin: .5em 0 .5em .5em;
}

dd {
    margin: .5em 0 .5em 2em;
}

dd p {
    margin: .5em 0 .5em 0;
}

table {
    border: 0 none;
    margin: 0 1em;
}
thead {
    border: 0 none;
}
tbody {
    border: 0 none;
}
th {
    border: 0 none;
    /* padding: .1em; */
    padding: 0;
}
tr {
    border: 0 none;
    /* padding: .1em; */
    padding: 0;
}
td {
    vertical-align: top;
    border: 0 none;
    /* padding: 0 .4em 0 0; */
    padding: 0 1em 0 0;
}

.wrap-right { }

.wrap-right img {
    border: 0;
    float: right;
    padding: 0 0 1em 1em;
    width: 40%;
}

.wrap-left { }

.wrap-left img {
    border: 0;
    float: left;
    padding: 0 1em 1em 0;
    width: 40%;
}

.search {
    padding: 1em 0 0 0;
}

.search fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*------------------------------------------------------------------------------
 * Outer Container
 *----------------------------------------------------------------------------*/

#container { }

/*------------------------------------------------------------------------------
 * Top Section
 *----------------------------------------------------------------------------*/

#header {
    margin: 0;
    padding: .5em;
    width: 98%;
}

/*------------------------------------------------------------------------------
 * Left Side Menu
 *----------------------------------------------------------------------------*/

#menu {
    float: left;
    font-weight: bold;
    margin: 0;
    padding: .5em;
    width: 8em;
}

#menu img {
    border: 0;
    padding: 0;
}

.menu-item {
    padding: 0 .1em 0 .1em;
    text-transform: capitalize;
}

.menu-item-current {
    background-color: var(--menu-item-highlight);
    /* border: 1px solid var(--border); */
    color: var(--accent);
    padding: 0 .1em 0 .1em;
    text-transform: capitalize;
}

.menu-button {
    padding: 1em 0 0 0;
}

/*------------------------------------------------------------------------------
 * Middle Section
 *----------------------------------------------------------------------------*/

#content {
    border-left: 1px dashed var(--border);
    margin: 0 0 0 9em;
    min-height: 15em;
    padding: 0 .8em;
}

#content-generic {
    margin: 0;
    padding: 0 10%;
}

#content-index {
    border-left: 1px dashed var(--border);
    border-right: 1px dashed var(--border);
    margin: 0 10em 0 9em;
    min-height: 15em;
    padding: 0 .8em;
}

.content-item {
    overflow: hidden;                   /* needed for "clear: both" to work */
}

/*------------------------------------------------------------------------------
 * Bottom Section
 *----------------------------------------------------------------------------*/

/* Modification for nullman.nl, we're going to redefine the footer.
#footer {
    clear: both;
    margin: 0;
    padding: .5em;
    text-align: center;
    width: 98%;
}
*/

/*------------------------------------------------------------------------------
 * Right Side Menu
 *----------------------------------------------------------------------------*/

#menu-index {
    float: right;
    font-weight: bold;
    margin: 0;
    padding: .5em;
    width: 9em;
}

#menu-index img {
    border: 0;
    padding: 0;
}

.menu-index-item {
    padding: 0 .1em 0 .1em;
    text-transform: capitalize;
}

.menu-index-item-current {
    background-color: var(--background-accent);
    /* border: 1px solid var(--border); */
    color: var(--accent);
    padding: 0 .1em 0 .1em;
    text-transform: capitalize;
}

.menu-index-button {
    padding: 1em .5em 1em .5em;
}

/*------------------------------------------------------------------------------
 * General Index
 *----------------------------------------------------------------------------*/

#index { }

.index-item {
    padding: 0 .1em 0 .1em;
    text-transform: capitalize;
}

.index-item-current {
    background-color: var(--background-accent);
    /* border: 1px solid var(--border); */
    color: var(--accent);
    padding: 0 .1em 0 .1em;
    text-transform: capitalize;
}

.index-button {
    padding: 1em .5em 1em .5em;
}

/*------------------------------------------------------------------------------
 * Paragraph Sections
 *----------------------------------------------------------------------------*/

.title {
    color: var(--header);
    font-size: 1.6em;
    font-weight: bold;
    letter-spacing: .25em;
    margin: 0;
    padding: .25em;
    text-align: center;
}

.validator {
    font-size: small;
    display: inline;
    margin: 0;
    padding: 0 .5em;
}

.license {
    font-size: x-small;
    margin: 0;
    padding: .25em .5em 0 .5em;
}

.tags {
    font-size: small;
    margin: 1em 0 1em 0;
}

.hidden {
    background-color: var(--background);
    color: var(--background);
}

.inverse-video {
    background-color: var(--primary);   /* light blue */
    color: var(--background);
}

.timestamp {
    /* font-size: small; */
    font-style: italic;
    /* margin-bottom: 2em; */
    text-align: right;
    text-transform: lowercase;
}

/*------------------------------------------------------------------------------
 * Footnotes
 *----------------------------------------------------------------------------*/

.footnotes { }

.footnote {
    font-size: small;
}

.footnote-reference {
    font-size: small;
}

.footnote-number { }

.footnote-paragraph {
    font-size: small;
}

/*==============================================================================
 * Htmlize Colors
 *============================================================================*/

.org-comment-delimiter {
    color: var(--htmlize-comment-face);
}

.org-comment {
    color: var(--htmlize-comment-face);
}

.org-string {
    color: var(--htmlize-string-face);
}

.org-keyword {
    color: var(--htmlize-keyword-face);
    font-weight: bold;
}

/* used ??? */
.org-builtin {
    color: var(--htmlize-builtin-face);
    font-weight: bold;
}

.org-function-name {
    color: var(--htmlize-function-name-face);
}

/* used ??? */
.org-variable-name {
    color: var(--htmlize-variable-name-face);
}

.org-type {
    color: var(--htmlize-type-face);
}

/* used ??? */
.org-constant {
    color: var(--htmlize-constant-face);
}

.org-warning {
    color: var(--htmlize-warning-face);
    font-weight: bold;
}

/*==============================================================================
 * Blog
 *============================================================================*/

.blog-img { }

.blog-img img {
    border: 0;
    float: right;
    padding: 1em 0em 1em 1em;
    max-width: 30%;
}

/*==============================================================================
 * del.icio.us
 *============================================================================*/

.delicious-posts ul {
    list-style-type: square;
    margin: .5em 0 .5em .5em;
}

.delicious-posts p {
    margin: 0;
    text-align: left;
}

.delicious-extended {
    margin: 0;
    text-align: left;
}

/*==============================================================================
 * Quotes
 *============================================================================*/

.quotes-block {
    margin: 0 1em;
    overflow: auto;
    padding: 1em;
    /* white-space: pre; */
}

.quotes-category {
    color: var(--header);
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: .1em;
    margin: 0 0 .5em 0;
}

.quotes-quote {
    /* font-size: 1.2em; */
    /* font-weight: bold; */
    margin: 1em 0;
}

.quotes-quote-text {
    /* font-style: italic; */
    /* margin: 0 0 2.5em 0; */
}

.quotes-quote-author {
    font-style: italic;
    margin-left: 2.5em;
}

/*==============================================================================
 * Bookmarks
 *============================================================================*/

.bookmarks-heading {
    color: var(--header);
    /* display: inline-block; */
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: .05em;
    /* text-transform: uppercase; */
}

/*==============================================================================
 * Game
 *============================================================================*/

.game-img {
    clear: right;
}

.game-img img {
    border: 0;
    float: right;
    max-width: 40%;
    padding: 1em 0em 1em 1em;
}

.game-block {
    /* border: 1px solid var(--border); */
    color: var(--primary);
    font-family: monospace;
    /* font-size: 1.1em; */
    font-size: 12pt;
    margin: 1em;
    overflow: auto;
    padding: 1em;
    white-space: pre;
}

/*==============================================================================
 * Champions Online
 *============================================================================*/

.champions-block {
    background-color: #0D3E5F;
    border: 1px solid var(--accent);
    color: var(--primary);
    margin-top: 1em;
    overflow: auto;
    padding: 1em;
    /* white-space: pre; */
}

.champions-body {
    color: var(--primary);
    margin: 0 1em;
}

.champions-header {
    padding: 0 0 1em 0;
}

.champions-name {
    color: #FEC530;                     /* yellow */
    font-size: 1.6em;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0;
    /* margin: 0 0 .5em 0; */
}

.champions-section-block {
    margin: 0 1em;
}

.champions-section-name {
    font-size: 1.2em;
    font-weight: bold;
    margin: .5em 0;
}

.champions-item-body {
    color: #FEC530;                     /* yellow */
    font-size: 1em;
    font-weight: bold;
}

.champions-item-title {
    color: #F78112;                     /* light orange */
    font-weight: bold;
}

.champions-item-extra {
    color: #CE6C10;                     /* dark orange */
}

.champions-img {
    clear: right;
}

.champions-img img {
    border: 0;
    float: right;
    max-width: 40%;
    padding: 1em 0em 1em 1em;
}

.champions-right-link {
    float: right;
    /* margin: 0 0 .5em 0; */
}

.champions-forum-block {
    background-color: var(--background-accent);
    border: 1px solid var(--border);
    margin: 1em;
    overflow: auto;
    padding: 1em;
    /* white-space: pre; */
}

/*==============================================================================
 * Mechwarrior Online
 *============================================================================*/

.mechwarrior-block {
    background-color: var(--background-accent);
    border: 1px solid var(--border);
    color: var(--primary);
    margin-top: 1em;
    overflow: auto;
    padding: 1em;
    /* white-space: pre; */
}

.mechwarrior-body {
    color: var(--primary);
    margin: 0 1em;
}

.mechwarrior-body-right {
    color: var(--primary);
    float: right;
    margin: 0 1em;
}

.mechwarrior-body-table {
    margin: .5em 0 .5em .5em;
}

.mechwarrior-body-table td {
    padding: 0 1em 0 0;
}

.mechwarrior-header {
    padding: 0 0 1em 0;
}

.mechwarrior-name {
    color: var(--header);
    font-size: 1.6em;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0;
    /* margin: 0 0 .5em 0; */
}

.mechwarrior-section-block {
    margin: 0 1em;
}

.mechwarrior-section-name {
    font-size: 1.2em;
    font-weight: bold;
    margin: .5em 0;
}

.mechwarrior-item-body {
    color: var(--primary);
    font-size: 1em;
    font-weight: bold;
}

.mechwarrior-item-title {
    color: var(--header);
    font-weight: bold;
}

.mechwarrior-item-extra {
    color: var(--header-accent);
}

.mechwarrior-img {
    clear: right;
}

.mechwarrior-img img {
    border: 0;
    float: right;
    max-width: 40%;
    padding: 1em 0em 1em 1em;
}

.mechwarrior-right-link {
    float: right;
    /* margin: 0 0 .5em 0; */
}

/*==============================================================================
 * The Secret World
 *============================================================================*/

.tsw-block {
    background-color: var(--background-accent);
    border: 1px solid var(--border);
    color: var(--primary);
    margin: 1em;
    overflow: auto;
    padding: 0 1em 0 1em;
    /* white-space: pre; */
}

.tsw-body {
    color: var(--primary);
    margin: 0 1em;
}

.tsw-header {
    padding: 0 0 1em 0;
}

.tsw-name {
    color: var(--header);
    font-size: 1.6em;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0;
    /* margin: 0 0 .5em 0; */
}

.tsw-section-block {
    margin: 0 1em;
}

.tsw-section-name {
    font-size: 1.2em;
    font-weight: bold;
    margin: .5em 0;
}

.tsw-item-body {
    color: var(--primary);
    font-size: 1em;
    font-weight: bold;
}

.tsw-item-title {
    color: var(--header);
    font-weight: bold;
}

.tsw-item-extra {
    color: var(--header-accent);
}

.tsw-img {
    clear: right;
}

.tsw-img img {
    border: 0;
    float: right;
    max-width: 40%;
    padding: 1em 0em 1em 1em;
}

/*==============================================================================
 * Eve Online
 *============================================================================*/

.eve-block {
    background-color: var(--background-accent);
    border: 1px solid var(--border);
    color: var(--primary);
    margin: 1em;
    overflow: auto;
    padding: 1em;
    /* white-space: pre; */
}

.eve-body {
    color: var(--primary);
    margin: 0 1em;
}

.eve-header {
    padding: 0 0 1em 0;
}

.eve-name {
    color: var(--header);
    font-size: 1.6em;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0;
    /* margin: 0 0 .5em 0; */
}

.eve-section-block {
    margin: 0 1em;
}

.eve-section-name {
    font-size: 1.2em;
    font-weight: bold;
    margin: .5em 0;
}

.eve-item-body {
    color: var(--primary);
    font-size: 1em;
    font-weight: bold;
}

.eve-item-title {
    color: var(--header);
    font-weight: bold;
}

.eve-item-extra {
    color: var(--header-accent);
}

.eve-img {
    clear: right;
}

.eve-img img {
    border: 0;
    float: right;
    max-width: 40%;
    padding: 1em 0em 1em 1em;
}

/*==============================================================================
 * Magic the Gathering
 *============================================================================*/

.magic-block {
    background-color: var(--background-accent);
    border: 1px solid var(--border);
    color: var(--primary);
    margin: 1em;
    overflow: auto;
    padding: 1em;
    /* white-space: pre; */
}

.magic-block-left {
    float: left;
    margin: 0 1em;
}

.magic-block-right {
    float: left;
    margin: 0 1em;
}

.magic-block-card {
    float: left;
    margin: 0 1em;
    /* width: 223; */
}

.magic-body {
    margin: 0 1em;
}

.magic-deck-name {
    color: var(--header);
    font-size: 1.6em;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0;
    margin: 0 0 .5em 0;
}

.magic-section-block {
    margin: 0 1em;
}

.magic-section-name {
    color: var(--header);
    font-size: 1em;
    font-weight: bold;
    margin: .5em 0;
}

.magic-item-name {
    color: var(--primary);
    font-size: .8em;
    font-weight: bold;
}
.magic-item-name a:link, .magic-item-name a:visited {
    color: var(--link);
    font-size: 1em;
    font-weight: bold;
}

.magic-item-count {
    color: var(--primary);
    font-weight: bold;
}
.magic-item-count a:link, .magic-item-count a:visited {
    color: var(--link);
    font-weight: bold;
}

.magic-item-set {
    color: var(--header);
}
.magic-item-set a:link, .magic-item-set a:visited {
    color: var(--header-link);
    font-weight: normal;
}

.magic-img { }

.magic-img img {
    border: 0;
    float: right;
    padding: 1em 0em 1em 1em;
}

.magic-section-block table {
    border: 0 none;
    margin: 0;
}
.magic-section-block thead {
    border: 0 none;
}
.magic-section-block tbody {
    border: 0 none;
}
.magic-section-block th {
    border: 0 none;
    padding: 0;
}
.magic-section-block tr {
    border: 0 none;
    padding: 0;
}
.magic-section-block td {
    border: 0 none;
    padding: 0 .4em 0 0;
}

.magic-section-block-right table {
    border: 0 none;
    margin: 0;
}
.magic-section-block-right thead {
    border: 0 none;
}
.magic-section-block-right tbody {
    border: 0 none;
}
.magic-section-block-right th {
    border: 0 none;
    padding: 0;
}
.magic-section-block-right tr {
    border: 0 none;
    padding: 0;
}
.magic-section-block-right td {
    border: 0 none;
    padding: 0 .4em 0 0;
}

/*==============================================================================
 * Media (Mobile Friendly)
 *============================================================================*/

/* modify some css on smaller screens */
@media only screen and (max-width: 640px) {
    /* make small fonts larger */

    #popup {
        font-size: small;
    }

    .xsmall {
        font-size: small;
    }

    .license {
        font-size: small;
    }

    /* add more padding to the bottom of menus */

    #menu {
        padding-bottom: .8em;
    }

    #menu-index {
        padding-bottom: .8em;
    }

    /* put content under menus and remove borders */

    #content {
        border-left: none;
        border-top: 1px dashed var(--border);
        clear: both;
        margin: 0;
        padding: .8em 0 0 0;
    }

    #content-generic {
        padding: .8em 0 0 0;
    }

    #content-index {
        border-left: none;
        border-right: none;
        border-top: 1px dashed var(--border);
        clear: both;
        margin: 0;
        padding: .8em 0 0 0;
    }
}

/*==============================================================================
 * Debug
 *============================================================================*/

/* div { border: 1px solid white; } */

/* Modifications for nullman.nl start here */

.banner {
	background-color: #15254B;
    text-align: center;
	border-style: groove;
}

a:link.banner-link {
	color: #C828FA;
}

a:visited.banner-link {
	color: #AA1ED7;
}

.content {
	flex: 1;
}

#footer {
	position: fixed;
	bottom: 0;
	left: 0;
} 

.list-of-guides 
{
  list-style-position: inside; 
  padding-left: 60px; 
}


/* Modifications for nullman.nl end here */

/*==============================================================================
 * default.css ends here
 *============================================================================*/
